#logobrand{
    padding-left: 10px !important;
}

#aboutme{

    padding-bottom: 50px;
}

#resume{
    padding-top: 100px;
    padding-bottom: 100px;
}
.opp{
    opacity: 0.8 !important;
}

body{
    font-family: 'Amatic SC' !important;
}

